<div layout layout-wrap>
    <md-card flex="20" flex-sm="30" flex-xs="45" ng-repeat="image in images">
        <cl-image public-id="{{image.public_id}}" class="thumbnail inline md-card-image" format="{{image.format}}"
                  type="{{image.type}}">
            <cl-transformation height="150" width="150" crop="fill"/>
        </cl-image>
        <md-card-content>
            <h3>{{image.public_id}}.{{image.format}}</h3>
            <md-list>
                <md-list-item class="md-1-line">
                    <span>Height/Width</span>
                    <span class="md-secondary">{{image.height}}/{{image.width}}</span>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <a ng-href="{{urlBase}}/{{image.type}}/{{transformations}}/{{image.public_id}}.{{image.format}}" target="_self" download="{{image.public_id}}.{{image.format}}">Download</a>
            <md-input-container>
                <md-select ng-model="download" placeholder="Size" ng-change="downloadSize(download)">
                    <md-option ng-value="size" ng-repeat="size in downloadSizes">{{ size }}</md-option>
                </md-select>
            </md-input-container>
        </md-card-actions>
    </md-card>
</div>
