/* Text colours */
.textWhite {
  color: white;
}
.textAccent {
  color: #106DB2;
}
.textGrey {
  color: #333;
}
.textRed {
  color: #f00;
}

/* Background colours */
.bgWhite {
  background-color: white;
}

.bgGrey {
  background-color: #222;
}

.bgLightGrey {
  background-color: #f4f4f4;
}

.bgMedGrey {
  background-color: #e4e4e4;
}


.bgAccent {
  background-color: #106DB2;
}
