/* Flex layouts */
.flexRow {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexCenter {
  display: flex;
  align-items: center;
}

.flexItem {
  flex: 1 0 0;
}
.noFlex {
  flex: 0 0 auto;
}

/* Grid layouts */
.gridCenter {
  display: grid; display: -ms-grid;
  align-items: center;
}

/* Misc. styles */
.roundedCorners {
  border-radius: .2em;
}
