.main {
  padding-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  text-align: left;

  composes: flexItem from './shared/_style.css';
}

.crumb {
  color: white;
  text-decoration: none;
}
.crumb:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 .75em;
}
