.main {
  position: absolute;
  top: 0;
  right: -2px;
  width: 3px;
  height: 100%;
  cursor: col-resize;
}

.main:before {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  width: 1px;
  height: 100%;
  background-color: #333;
}
