.base {
  height: 3em;
  padding: 0 .75em 0 1em;

  composes: noFlex from './shared/layout.css';
}

.list {
  grid-template-columns: inherit;
  grid-column-gap: inherit;

  composes: base;
  composes: bgMedGrey from './shared/colours.css';
  composes: gridCenter from './shared/layout.css';
}

.grid {
  composes: base;
  composes: bgMedGrey from './shared/colours.css';
  composes: flexCenter from './shared/layout.css';
}

.grid .title {
  display: none;
}

.list .checkbox { grid-column: 1 / 2; }
.list .title    { grid-column: 3 / 4; }
.list .upload   { grid-column: 4 / 5; }
.list .tags     { grid-column: 5 / 6; }

.upload, .tags {
  display: none;
}

.list.showListDetails .upload,
.list.showListDetails .tags {
  display: block;
}

.actions {
  justify-content: flex-end;

  composes: flexItem flexCenter from './shared/layout.css';
}

.actions > div {
  margin: 0 .25em 0 .5em;
  color: #333;
}

/* Media queries */

@value bp-tablet from "./shared/breakpoints.css";

@media screen and (min-width: bp-tablet) {
  .base {
    padding-left: 1.5rem;
  }
}
