.base {
  height: 3em;
  line-height: 3em;
  padding: 0 .75em 0 1em;

  composes: noFlex from './shared/_style.css';
}

.list {
  grid-template-columns: inherit;
	-ms-grid-columns: inherit;
  grid-column-gap: inherit;

  composes: base;
  composes: bgMedGrey from './shared/_style.css';
  composes: gridCenter from './shared/_style.css';
}

.list > div {
  margin-right: 1em;
}

@supports (display: grid) {
  .list > div {
    margin-right: 0;
  }
}

.grid {
  composes: base;
  composes: bgMedGrey from './shared/_style.css';
  composes: flexCenter from './shared/_style.css';
}

.grid .title {
  display: none;
}

.list .checkbox { grid-column: 1 / 2; -ms-grid-column: 1; }
.list .title    { grid-column: 3 / 4; -ms-grid-column: 3; }
.list .upload   { grid-column: 4 / 5; -ms-grid-column: 4; }
.list .tags     { grid-column: 5 / 6; -ms-grid-column: 5; }

.upload, .tags {
  display: none;
}

.list.showListDetails .upload,
.list.showListDetails .tags {
  display: block;
}

.actions {
  justify-content: flex-end;

  composes: flexItem flexCenter from './shared/_style.css';
}

.actions > div {
  margin: 0 .25em 0 .5em;
  color: #333;
}

/* Media queries */

@value bp-tablet from "./shared/_style.css";

@media screen and (min-width: bp-tablet) {
  .base {
    padding-left: 1.5rem;
  }
}
