.main {
  position: absolute;
  width: 80vw;
  left: calc(-80vw - 1px);
  z-index: 1;

  composes: bgLightGrey from './shared/colours.css';
  composes: flexColumn from './shared/layout.css';
}

.scrolling {
  overflow-y: auto;
  clear: both;

  composes: flexItem from './shared/layout.css';
}

.message {
  padding: 1em;
}

/* Media queries */

@value bp-mobile from "./shared/breakpoints.css";

@media screen and (min-width: bp-mobile) {
  .main {
    position: relative;
    left: 0;
    width: auto;
    flex: 0 0;
    flex-basis: 300px;
    margin-right: 1px;

    min-width: 8em;
    max-width: 35em;
  }
}
