.main {
  position: relative;
  flex: 0 0;
  flex-basis: 300px;
  margin-right: 1px;

  min-width: 8em;
  max-width: 35em;

  composes: bgLightGrey from './shared/colours.css';
  composes: flexColumn from './shared/layout.css';
}

.scrolling {
  overflow-y: auto;
  clear: both;

  composes: flexItem from './shared/layout.css';
}

.message {
  padding: 1em;
}
