.main {
  position: relative;
  height: 4em;
  color: white;
  font-size: 1.2em;
  padding: 0 .875em 0 .375em;
  /* background-color: #3FADFE; */
  background-image: linear-gradient(to right, #179CFE 0%, #106DB2 100%);

  composes: noFlex flexCenter from './shared/_style.css';
}

.main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: .375em;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #106DB2 20%, #EBC822 20%,
    #EBC822 40%, #106DB2 40%,
    #106DB2 60%, #EBC822 60%,
    #EBC822 80%, #106DB2 80%
  )
}

.icon {
  width: 3em;
  height: 3em;
  margin: 0 1em 0 .625em;

  composes: noFlex from './shared/_style.css';
}

.icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.spacer {
  composes: flexItem from './shared/_style.css';
}

.button {
  margin-left: .875em;
}

.buttonRight {
  margin-right: .875em;
}
