.list {
  position: relative;
  height: 4em;
  padding: 0 .825em 0 1em;
  cursor: pointer;
  grid-template-columns: inherit;
  grid-column-gap: inherit;

  composes: gridCenter from './shared/layout.css';
}

.list:hover {
  background-color: #f4f4f4;
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image img {
  display: block;
}

/* List view positioning */
.list .checkbox { grid-column: 1 / 2; }
.list .image    { grid-column: 2 / 3; }
.list .title    { grid-column: 3 / 4; }
.list .upload   { grid-column: 4 / 5; }
.list .tags     { grid-column: 5 / 6; }
.list .actions  { grid-column: 6 / 7; }

/* Title */
.title, .upload {
  composes: overflow;
}

.tags {
  overflow: hidden;
}

/* Image (or thumbnail) */
.image {
  composes: overflow;
  position: relative;
}

.image img {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.image svg {
  position: absolute;
  z-index: 0;
}

.list .image {
  width: 3em;
  height: 2.25em;
}

.list .imageHidden {
  opacity: 0;
}

/* Tags */

.list .tags {
  height: 2em;
}

.tag {
  composes: tag from './tag.css';
}

/* List view hidden fields */

.list .upload,
.list .tags,
.list .actions {
  display: none;
}

/* Grid view */

.grid {
  position: relative;
  width: 15em;
  height: 18.5em;
  cursor: pointer;

  composes: bgLightGrey from './shared/colours.css';
}

.gridImage {
  composes: slow from './shared/transitions.css';
}

.grid:hover .gridImage {
  transform: scale(1.05);
}

.grid .image {
  width: 100%;
  height: 11.25em;
  margin-bottom: .25em;
  z-index: 0;
}

.grid .title {
  font-weight: bold;
}

.grid .upload {
  margin-bottom: .2em;
}

.grid .title,
.grid .upload,
.grid .tags {
  height: 2em;
  line-height: 2em;
  padding: 0 .8em;
}

.grid .checkbox {
  position: absolute;
  top: -.3em;
  right: -.3em;
  transform: scale(1.1);
}

.grid .checkbox:before {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  top: calc(1em - 2px);
  left: calc(1em - 2px);
  border: 2px solid white;
  border-radius: .3em;
  background-color: white;
}

/* Grid view hidden fields */

.grid .actions {
  display: none;
}

/* Links */

.checkbox, .tags, .actions {
  position: relative;
  z-index: 2;
}

.list > a, .grid > a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.list.showListDetails .upload,
.list.showListDetails .tags {
  display: block;
}

.list.showListDetails:hover .actions {
  display: block;
}

/* Media queries */

@value bp-tablet from "./shared/breakpoints.css";

@media screen and (min-width: bp-tablet) {
  .list {
    padding-left: 1.5em;
  }
}
