.list {
  height: 4em;
  padding: 0 .825em 0 1em;
  cursor: pointer;
  grid-template-columns: inherit;
  grid-column-gap: inherit;

  composes: gridCenter from './shared/layout.css';
}

.list:hover {
  background-color: #f4f4f4;
}

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image img {
  display: block;
}

/* List view positioning */
.list .checkbox { grid-column: 1 / 2; }
.list .image    { grid-column: 2 / 3; }
.list .title    { grid-column: 3 / 4; }
.list .upload   { grid-column: 4 / 5; }
.list .tags     { grid-column: 5 / 6; }
.list .actions  { grid-column: 6 / 7; }

/* Checkbox */
.list .checkbox > div {
  width: 1em;
  height: 1em;
  border-radius: .2em;
  border: 2px solid #333;
  cursor: pointer;
}

/* Title */
.title, .upload {
  composes: overflow;
}

.tags {
  overflow: hidden;
}

/* Image (or thumbnail) */
.image {
  composes: overflow;
  position: relative;
}

.image img {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.image svg {
  position: absolute;
  z-index: 0;
}

.list .image {
  width: 3em;
  height: 2.25em;
}

.list .imageHidden {
  opacity: 0;
}

/* Tags */
.list .tags {
  height: 2em;
}

.tag {
  composes: tag from './tag.css';
}

/* List view hidden fields */

.list .upload,
.list .tags,
.list .actions {
  display: none;
}

/* Grid view */

.grid {
  width: 15em;
  height: 18.5em;
  cursor: pointer;

  composes: bgLightGrey from './shared/colours.css';
}

.grid .image {
  width: 100%;
  height: 11.25em;
  margin-bottom: .25em;
}

.grid .title {
  font-weight: bold;
}

.grid .upload {
  margin-bottom: .2em;
}

.grid .title,
.grid .upload,
.grid .tags {
  height: 2em;
  line-height: 2em;
  padding: 0 .8em;
}

/* Media queries */

@value bp-mobile from "./shared/breakpoints.css";
@value bp-medium from "./shared/breakpoints.css";

@media screen and (min-width: bp-mobile) {
  .list {
    padding-left: 1.5em;
  }
}

@media screen and (min-width: bp-medium) {
  .list .upload,
  .list .tags,
  .list .actions {
    display: block;
  }
}
