.base {
  position: relative;
  composes: flexCenter from './shared/layout.css';
}

.main {
  width: 16em;
  composes: base;
}

.main .toggle {
  display: none;
}

.mobile {
  width: 2.25em;

  composes: base;
}

.mobile .input {
  width: 0;
  overflow: hidden;
}

.mobile:not(.focused) .input {
  padding: 0;
  flex: none;
}

.focused {
  flex: 1;
  composes: base;
}

.focused .toggle {
  display: block;
}

.input {
  border: none;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 2.25em 0 .6em;
  background-color: white;
  font-size: 1em;

  composes: flexItem from './shared/layout.css';
  composes: textGrey from './shared/colours.css';
  composes: roundedCorners from './shared/layout.css';
}

.button {
  position: absolute;
  top: 0;
  right: 0;
}

.buttonNoBg {
  background: none !important;

  composes: button;
}
