@value col-primary from "./shared/_style.css";

.displayBase {
  background-color: white;
  border: 1px solid col-primary;
  composes: corners from './shared/_style.css';
}

.optionBase {
  height: 2.25em;
  line-height: calc(2.25em - 2px);
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select {
  position: relative;
  overflow: hidden;
  width: 0;

  composes: optionBase displayBase;
  composes: textAccent from './shared/_style.css';
}

.selectOpen {
  composes: select;
  overflow: visible;
}

.selectOpen .optionsVisible {
  height: 0;
  line-height: 0;
  opacity: 0;
}

.optionsVisible .option {
  padding-right: 2.5em;
}

.optionsDropdown {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  z-index: 1;

  composes: displayBase;
}

.option {
  position: relative;
  padding-left: .5em;

  composes: optionBase;
  composes: textGrey from './shared/_style.css';
}

/* Dropdown icons */

.arrow {
  position: absolute;
  width: 1em;
  height: 1em;
  top: .625em;
  right: .625em;

  composes: textAccent from './shared/_style.css';
}

.tick {
  position: absolute;
  border-radius: 50%;
  width: .65em;
  height: .65em;
  top: .8em;
  right: .8em;

  composes: bgAccent from './shared/_style.css';
}

.optionsDropdown .option:hover {
  color: white;
  background-color: col-primary;
}

.optionsDropdown .option:hover .tick {
  background-color: white;
}

/* Media queries */

@value bp-mobile from "./shared/_style.css";

@media screen and (min-width: bp-mobile) {
  .select {
    width: auto;
  }
}
