.tag {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 .5em;
  margin-right: .5em;
  cursor: pointer;

  composes: textWhite from './shared/_style.css';
  composes: bgAccent from './shared/_style.css';
  composes: corners from './shared/_style.css';
}

.tag:hover {
  background-color: #ffd200;
  color: #000;
}
