.main {
  position: absolute;
  margin: auto auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 4.5rem;
  height: 1rem;
  text-align: center;
}

.dot {
  width: 1rem;
  height: 1rem;
  margin: 0 .25rem;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out both;

  composes: bgAccent from '../../styles/colours.css';
}

.dot:nth-child(1) { animation-delay: -.32s; }
.dot:nth-child(2) { animation-delay: -.16s; }

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
