.main {
  padding-right: 1rem;
  composes: flexItem from '../../styles/layout.css';
}

.truncate {
  white-space: nowrap;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;

  composes: main
}

.crumb {
  color: white;
  text-decoration: none;
}
.crumb:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 .75rem;
}
