.main {
  composes: flexItem from '../../styles/layout.css';
}

.main > a {
  text-decoration: none;
}

.crumb {
  color: white;
  text-decoration: none;
}
.crumb:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 .75rem;
}
