.main {
  position: relative;
  flex: 0 0;
  flex-basis: 300px;
  margin-right: 1px;

  min-width: 8em;
  max-width: 35em;

  composes: bgLightGrey from '../../styles/colours.css'
}

.scrolling {
  height: 100%;
  overflow-y: auto;
  clear: both;
}

.message {
  padding: 1em;
}
