.main {
  position: relative;
  width: 300px;
  margin-right: 1px;

  min-width: 8rem;
  max-width: 35rem;

  composes: bgLightGrey from '../../styles/colours.css'
}

.scrolling {
  height: 100%;
  overflow-y: auto;
  clear: both;
}
