.list {
  overflow: hidden;
  grid-template-columns: auto auto 40rem 9rem 16rem auto 1fr;
  grid-column-gap: 1.5rem;

  composes: flexItem flexColumn from '../../styles/layout.css';
}

.grid {
  overflow-y: auto;

  composes: flexItem from '../../styles/layout.css';
}

.list .scrollArea {
  overflow-y: auto;
  flex: 1;
  grid-template-columns: inherit;
  grid-column-gap: inherit;
}

.grid .scrollArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-between;
}

.empty {
  padding: 1rem;
}

.loadMore {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
