.base {
  overflow: hidden;
  composes: flexItem from '../../styles/layout.css';
}

.overflow {
  overflow-y: auto;
}

.list {
  grid-template-columns: auto auto 1fr 9em 16em auto;
  grid-column-gap: 1.5em;

  composes: base;
  composes: flexColumn from '../../styles/layout.css';
}

.grid {
  composes: base;
}

.listWrap {
  grid-template-columns: inherit;
  grid-column-gap: inherit;

  composes: overflow;
}

.gridWrap {
  height: 100%;

  composes: overflow;
}

.list .scrollArea {
  flex: 1;
  grid-template-columns: inherit;
  grid-column-gap: inherit;
}

.grid .scrollArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 2em;
  padding: 2em;
  justify-items: center;
}

.empty {
  padding: 1em;
}

.loadMore {
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;
}
