.main {
  width: 100vw;
  height: 100vh;

  composes: flexColumn from './styles/shared/layout.css';
}

.content {
  position: relative;
  overflow: hidden;
  composes: flexItem flexRow from './styles/shared/layout.css';
}
