/* Font imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext');

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  text-decoration: none;
}

:global(.svg-inline--fa) {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}
